@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

:root {
  --Gunmetal: #253347;
  --Blue: #345ff6;
  --Dark-Electric-Blue: #5e6e85;
  --Pure-White: #fff;
  --Light-Blue-Gradient: linear-gradient(to left, #d6e6fe, #d6e6fe00);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  width: 100vw;
  margin-top: 32px;
  margin-bottom: 96px;
  overflow-x: hidden;
}

.bg-decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  background: var(--Light-Blue-Gradient);
  z-index: -1;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

header {
  text-align: center;
}

header img {
  width: 40px;
  height: auto;
}

.center {
  width: 72.5rem;
  max-width: 86%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: var(--Gunmetal);
}

p {
  color: var(--Dark-Electric-Blue);
  font-size: 1rem;
  line-height: 150%;
}

input[type='number'] {
  /* remove arrow for Firefox */
  -moz-appearance: textfield; 
}

/* remove arrow for Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 65rem) {
  body {
    margin-top: 75px;
  }
  .bg-decoration {
    width: 68%;
    left: 24px;
    height: 737px;
  }
  header {
    text-align: left;
  }
  header img {
    width: 64px;
    height: auto;
  }
}